<div
  [@fade]
  class="card flex flex-col shadow-md p-5 rounded-md mt-4 bg-white dark:bg-slate-900"
>
  <div class="flex flex-col">
    <span class="font-semibold mb-2">Category:</span>
    <div class="flex flex-wrap">
      <div
        class="badge my-1"
        [ngClass]="{ 'bg-slate-400': search.category !== 'crime', 'bg-slate-800': search.category == 'crime',}"
        (click)="search.onSearchByCategory('crime')"
      >
        <span class="text-sm"> Thriller/Crime </span>
      </div>

      <div
        class="badge my-1"
        [ngClass]="{ 'bg-slate-400': search.category !== 'animation', 'bg-slate-800': search.category == 'animation',}"
        (click)="search.onSearchByCategory('animation')"
      >
        <span class="text-sm"> Animation/Comedy </span>
      </div>

      <div
        class="badge my-1 md:mt-0"
        [ngClass]="{ 'bg-slate-400': search.category !== 'all', 'bg-slate-800': search.category == 'all',}"
        (click)="search.onSearchByCategory('all')"
      >
        <span class="text-sm"> All </span>
      </div>
    </div>
  </div>
</div>
