<div class="carousel relative">
  <img src="https://images5.alphacoders.com/112/1121095.jpg" alt="" />
  <div class="absolute top-1/2 flex justify-between w-full">
    <button class="border rounded-lg p-3 dark:border-slate-400  mx-5 shadow-lg">
      <fa-icon [icon]="icons.left" class="dark:text-slate-700"></fa-icon>
    </button>

    <button class="border rounded-lg p-3 dark:border-slate-400 mx-5">
      <fa-icon [icon]="icons.right" class="dark:text-slate-700"></fa-icon>
    </button>
  </div>

</div>
