<div class="card rounded-lg relative mx-3">
  <img
    class="rounded-lg"
    src="https://resizing.flixster.com/-XZAfHZM39UwaGJIFWKAE8fS0ak=/v3/t/assets/p15829_v_v13_aa.jpg"
    alt=""
  />
  <header class="absolute top-10 pl-4">
    <button class="rounded-full border px-3 py-2 bg-white">
      <fa-icon [icon]="icons.add" class="text-green-400"></fa-icon>
    </button>
  </header>
  <footer class="absolute left-0 bottom-0 top-60 p-4">
    <h3 class="text-white font-semibold text-2xl break-words">
      Forrest Gump: O contador de Histórias
    </h3>
    <div class="mt-2">
      <fa-icon [icon]="icons.star" class="text-yellow-500"></fa-icon>
      <span class="text-white font-semibold">9.5</span>
    </div>
  </footer>
</div>
