<div class="card rounded-lg relative mx-3 cursor-pointer">
  <img
    class="rounded-lg"
    src="https://resizing.flixster.com/-XZAfHZM39UwaGJIFWKAE8fS0ak=/v3/t/assets/p15829_v_v13_aa.jpg"
    alt=""
  />
  <footer class="absolute left-0 bottom-0 top-60 p-4">
    <h3 class="text-white font-semibold text-1xl break-words">
      Forrest Gump: O contador de Histórias
    </h3>
    <div class="">
      <fa-icon [icon]="icons.star" class="text-yellow-500"></fa-icon>
      <span class="text-white font-semibold ml-1">9.5</span>
    </div>
  </footer>
</div>
